:root {
  --black: #1f1f1f;
  --orange: #df7116;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

body {
  font-family: "Poppins", sans-serif;
  /* background: #ffe; */
  /* background: #161616; */
  overflow-x: hidden;

}

/* HEADER */
header {
  /* background-color: red; */
  /* background: #f0f0f0; */
  /* background: rgb(255, 223, 197); */
  /* box-shadow: 0px 0 10px 5px #fefefe; */
  display: flex;
  /* width: 90%; */
  min-height: 40px;
  height: calc(10vh);
  margin: auto;
  align-items: center;
  background: linear-gradient(rgb(241, 241, 241),white);
}
.logo-container,
.nav-links {
  display: flex;
}
.logo-container {
    margin: auto;

  flex: 1;
}
.logo {
  -webkit-user-select: none;
  font-size: 25px;
  margin: 5px;
  margin-left: 30px;
  color: var(--black);
}
.logo span {
  font-weight: 800;
  color: var(--orange);
}
nav {
  /* display: flex; */
  flex: 1;
}

.nav-links {
  justify-content: space-evenly;
  list-style: none;
}
.nav-link {
  color: #5f5f79;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 0.5rem;
  transition: background-color 0.25s ease;
}

.nav-link:hover {
  background-color: #f0f0f0;
}

.burger {
  /* height: 100%; */
  display: none;
  position: absolute;
  /* background-color: red; */
  right: 50px;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--black);
  margin: 4px;
}

.presentation{
  display: flex;
  /* background: #aaa; */
  /* background-color: var(--black); */
}

#intro{
  font-size: 3rem;
  color: var(--black);
  /* text-shadow:  5px black; */
  height: 90vh;
  align-items: center;
  justify-content: center;
  
  /* color: transparent; */
  /* background: -webkit-linear-gradient(45deg,#1f1f1fca, #1f1f1f); */
  /* -webkit-background-clip: text; */
  /* -webkit-font-smoothing: antialiased; */
  /* -webkit-text-fill-color: transparent;  */
  background-color: whitesmoke;
  

}
#intro h1 {
  /* background: -webkit-linear-gradient(45deg,#1f1f1fca, #1f1f1f); */
 
  padding: 0 4rem;
  /* height: 92vh; */
  transform: translate(0%,-50%);
-ms-transform: translate(0%,-50%);
-webkit-transform: translate(0%,-50%);
-o-transform: translate(0%,-50%);
-moz-transform: translate(0%,-50%);
}

#portfolio{
  height: 100vh;

background: rgb(110, 96, 96);
}
#reviews{
  height: 100vh;

  background: rgb(97, 96, 110);

}

#contact{
  height: 100vh;
  background: rgb(109, 110, 96);
}


@media screen and (max-width: 1024px) {
  #intro{
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  #intro{
    font-size: 1.5rem;
  }

    .logo-container{
    /* display:flex; */
    flex: 10;
    /* width: 100rem; */
    /* text-align: center; */
    /* align-items: center; */
    justify-content: center;
    /* background-color: red; */
  }
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: -0.5vh;
    /* background: rgb(238, 205, 178); */
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0px;
    overflow: hidden;
    transform: translateX(100%);
    transition: width 0.5s ease, opacity0.5s ease;
    z-index: -1;
    background: #555;

  }
  .burger{
    z-index: 1;
  }
  .nav-link {
    /* background: #000; */
    display: flex;
    flex: 1;
    /* width: 100%; */
  }
  .nav-links li {
    text-align: center;
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  width:80%;
  z-index: 1;
  opacity: 1;
  transform: translateX(0%);
  background: #efefef;

  /* top: -5vh; */

}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
